.tile{
    user-select: none;
    border: 1px solid rgba(81, 81, 81, 0.372);
    width: 2rem;
    height: 2rem;
    padding: 0.5rem;
    color: transparent;
    background-color: rgb(28, 24, 34);
}

.tile.show{
    background-color: aliceblue;
    color: lime;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    animation: pop 0.2s ease-in 0s 1 forwards;
    color: rgb(255, 47, 47);
}

.tile.show.mined{
    color: black;
    font-size: larger;
    background-color: rgb(153, 255, 0);
}

@keyframes pop {
    from{
        border-radius: 50%;
        width: 0.5rem;
        height: 0.5rem;
        background-color: rgb(255, 47, 47);
    }
    to{
        border-radius: 0;
    }
}