.tile{
    user-select: none;
    border: 1px solid var(--border-color);
    width: 1rem;
    height: 1rem;
    padding: 0.5rem;
    color: transparent;
    background-color: var(--tile-hidden-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile.mined *{
    color: transparent;
}

.tile.marked{
    background-color: var(--tile-number-color);
}

.tile.show{
    background-color: var(--tile-show-background-color);
    font-weight: 800;
    animation: pop 0.3s ease-in 0s 1 forwards;
    color: var(--tile-number-color);
}

.tile--1.show{
    color: blue;
}

.tile--2.show{
    color: green;
}

.tile--3.show{
    color: red;
}

.tile--4.show{
    color: purple;
}

.tile--5.show{
    color: maroon;
}

.tile--6.show{
    color: turquoise;
}

.tile--7.show{
    color: black;
}

.tile--8.show{
    color: gray;
}

.tile.show.mined{
    color: black;
    font-size: larger;
    background-color: var(--tile-mined-color);
}


.tile.show.mined *{
    color: black !important;
}

@keyframes pop {
    from{
        border-radius: 50%;
        width: 0.5rem;
        height: 0.5rem;
        background-color: var(--tile-number-color);
    }to{
        border-radius: 0;
    }
}